<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include the head partial which contains meta tags and stylesheet links -->
    <%- include('./partials/head') %>
    <title>Homepage</title> <!-- Page title -->
  </head>
  <body>
    <!-- Include the navigation bar partial -->
    <%- include('./partials/nav') %>

    <h4>Home Page, all the vacation vaults will be displayed in a nice format here!</h4>

    <!-- Include the scripts partial which contains JavaScript links -->
    <%- include('./partials/scripts') %>

    <!-- Include the footer partial -->
  <%- include('./partials/footer') %>
  </body>
</html>
  

